body {
    margin: 0px;
    padding: 0px;
}

.center {
    background-color: none;
    height: 500px;
}

.center-logo {
    display: flex;
    justify-content: center;
}
.daily-prank {
    display: flex;
    justify-content: center;
}

.daily-prank .prank-txt h1 {
    color: #6C40AD;
}

.daily-prank .prank-txt p {
    position: relative;
    left: 55px;
    color: #6C40AD;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #6C40AD;
    height: 300px;
    margin-top: -4px;
    color: #FFED4F;
    font-size: 0.8em;
}

.footer-links {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.footer .disclosure {
    color: #FFED4F;
}