<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <script src="https://kit.fontawesome.com/12cf043f10.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="../static/home.css">
</head>
<body>
<div class="navbar-wrapper">
    <div class="left_side">
        <div class="logo">
            <a href="./home.html"><i class="fas fa-user-ninja"></i></a>
        </div>
    </div>

    <div class="middle">
        <div class="company_name">
            <h1>Pranksters</h1>
        </div>
    </div>

    <div class="right_side">
        <div class="links">
            <div class="homepage_link">
                <a href="home.html">Home</a>
            </div>
            <div class="pictures_link">
                <a href="pictures.html">Pictures</a>
            </div>
            <div class="pranks">
                <a href="pranks.html">Pranks</a> 
            </div>    
        </div>
    </div>
</div>

<div class="center">
    <div class="center-logo">
        <img src="../static/Images/MainLogo_transparent.jpg" alt="Logo">        
    </div>

    <div class="daily-prank">
        <div class="prank-txt">

            <h1>Prank Of The Day!!</h1>

            <p>Random Prank Idea!</p>
        </div>   
    </div>
</div>


<div class="footer">
    <div class="logo-footer">
        <img src="../static/Images/thumbnail_Logo-transp2_clipped_rev_1.png" alt="Logo">
    </div>

    <div class="footer-links">
        <div class="homepage_link">
            <a href="home.html">Home</a>
        </div>
        <div class="pictures_link">
            <a href="pictures.html">Pictures</a>
        </div>
        <div class="pranks">
            <a href="pranks.html">Pranks</a> 
            </div>    
    </div>

    <div class="disclosure">
        <p>
            Pranksters Is Not Responisble For The Following:
            <br>
            Expulsion from School, Divorce, Jail Time, Loss of Employment, ect...
            </br>
        </p>
    </div>
</div>

</body>
</html>