<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+1p&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" type="text/css" href="../static/pictures.css">   
    <title>CowboyClick</title>
    <script src="https://kit.fontawesome.com/12cf043f10.js" crossorigin="anonymous"></script>
</head>


<body>

<!-- Nav Bar Wrapper -->
        <div class="navbar-wrapper">
        <div class="left_side">
            <div class="logo">
                    <a href="./home.html"><i class="fas fa-user-ninja"></i></a>
            </div>
        </div>

        <div class="middle">
                <div class="company_name">
                        <h1>Pranksters</h1>
                    </div>

        </div>

        <div class="right_side">
            <div class="links">
                <div class="homepage_link">
                    <a href="home.html">Home</a>
                </div>
            <div class="pictures_link">
                    <a href="pictures.html">Pictures</a>
               </div>
            <div class="pranks">
                <a href="pranks.html">Pranks</a> 
             </div>
                
            </div>
        </div>
           
    </div>



<div class="header-container">
<div class="header-wrapper">
    <h1>
        Pictures
    </h1>
</div>
</div>
<!-- Squares Wrapper -->

<div class="squares-wrapper">
        <div class="squares">           
             <div class="square">
                <!-- IMG goes here -->
                <div class="img-wrapper" id="left">
                    <img src="/static/Images/s-l640.jpg" alt="Momkey">
                </div>
                
                <div class="square-text-wrapper">
                    <p class="text">
                        Ho ho! This sure is one funny monkey! ha! Look at this guy! I can't BELIEVE what I'm seeing! So funny! wow
                    </p>

                </div>
            </div>

            <div class="square">
                <!-- IMG goes here -->

                
                <div class="square-text-wrapper">
                 <p class="text">
                     Whoa okay... this woman is being a tad bit aggressive. I'm not so sure I'm comfortable with what's going on here... kinda wack.
                 </p>
                </div>
                <div class="img-wrapper" id="right">
                        <img src="/static/Images/5aaa1cc04ed34-funny-weird-wtf-stock-photos-19-5a3926af95d9d__700.jpg" alt=SheDuling">
                    </div>
            </div>

            <div class="square">
                    <!-- IMG goes here -->
                    <div class="img-wrapper" id="left">
                        <img src="/static/Images/weird-stock-photos-9-595x397.jpg" alt="PizzaMaam">
                    </div>
                    
                    <div class="square-text-wrapper">
                        <p class="text">
                            Ha ha! I think we ALL know what's going on here! No explanation needed! 
                        </p>
    
                    </div>
                </div>

                <div class="square" id="squareJS">
                        <!-- IMG goes here -->
        
                        
                        <div class="square-text-wrapper">
                         <p class="text">
                             Holy moly... now that's one gosh darned handsome devil! AWOOGA! Hide your girlfriends, boys!
                         </p>
                        </div>
                        <div class="img-wrapper" id="right">
                                <img src="/static/Images/alexJonesy.jpg" alt=SheDuling">
                            </div>
                    </div>

                    <div class="square">
                            <!-- IMG goes here -->
                            <div class="img-wrapper" id="left">
                                <img onclick="newSquare()" src="/static/Images/cropped-ryan-black-vest-e14718868048492.png" alt="PizzaMaam">
                            </div>
                            
                            <div class="square-text-wrapper">
                                <p class="text">
                                   Whoa! Is that THE Ryan Curtis? Looking kinda of fresh tho, can't lie.
                                </p>
            
                            </div>
                        </div>



        <!-- Footer -->
                        <div class="footer">
                                <div class="logo-footer">
                                    <img src="../static/Images/Logo-transp2_clipped_rev_1.png" alt="Logo">
                                </div>
                            
                                <div class="footer-links">
                                    <div class="homepage_link">
                                        <a href="home.html">Home</a>
                                    </div>
                                    <div class="pictures_link">
                                        <a href="pictures.html">Pictures</a>
                                    </div>
                                    <div class="pranks">
                                        <a href="pranks.html">Pranks</a> 
                                        </div>    
                                </div>
                            
                                <div class="disclosure">
                                    <p>
                                        Pranksters Is Not Responisble For The Following:
                                        <br>
                                        Expulsion from School, Divorce, Jail Time, Loss of Employment, ect...
                                        </br>
                                    </p>
                                </div>
                            </div>
</body>

<script>
// const textValues = document.querySelectorAll('.text')
        
//  for (var i = 0; i < textValues.length; i++ ) {
//     textValues[i].addEventListener('mouseover', event => {
//         event.target.style.color = '#ffffdf'
//     } )

//     textValues[i].addEventListener('mouseleave', event => {
//         event.target.style.color = '#6C40AD'
//     })
//  }

function newSquare() {
    // console.log('hello');
    window.alert('Ladies, for a good time message:\nryan.curtis88@gmail.com\n               ;)')
  

}

        
        
        
</script>
</html>