<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pranks</title>

    <script src="https://kit.fontawesome.com/12cf043f10.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+1p&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/pranks.css">
    <link rel="stylesheet" href="../static/pranks.css">
    
</head>
<body>
    <div class="navbar-wrapper">
        <div class="left_side">
            <div class="logo">
                    <a href="./home.html"><i class="fas fa-user-ninja"></i></a>
            </div>
        </div>

        <div class="middle">
                <div class="company_name">
                        <h1>Pranksters</h1>
                    </div>

        </div>

        <div class="right_side">
            <div class="links">
                <div class="homepage_link">
                    <a href="home.html">Home</a>
                </div>
            <div class="pictures_link">
                    <a href="pictures.html">Pictures</a>
               </div>
            <div class="pranks">
                <a href="pranks.html">Pranks</a> 
             </div>
                
            </div>
        </div>
           
    </div>


    
</body>

<script>
    const pranks = [
    {"title": "Prank one",
    "rules": "set of rules",
    "location": "work",
    "person": "co-worker",
    "difficulty": 5
    },
    {"title": "Prank Two",
    "rules": "set of rules",
    "location": "school",
    "person": "Peer",
    "difficulty": 4
    },
    {"title": "Prank Three",
    "rules": "set of rules",
    "location": "Home",
    "person": "Brother",
    "difficulty": 5
    },
    {"title": "Prank four",
    "rules": "set of rules",
    "location": "home",
    "person": "friend",
    "difficulty": 3
    },
    {"title": "Prank five",
    "rules": "set of rules",
    "location": "publc",
    "person": "Stranger",
    "difficulty": 4
    },
    {"title": "Prank Six",
    "rules": "set of rules",
    "location": "Home",
    "person": "Dad",
    "difficulty": 2
    },
    {"title": "Prank Seven",
    "rules": "set of rules",
    "location": "Grocery Store",
    "person": "Mother",
    "difficulty": 5
    },
    {"title": "Prank Eight",
    "rules": "set of rules",
    "location": "work",
    "person": "Dad",
    "difficulty": 1
    },
    {"title": "Prank nine",
    "rules": "set of rules",
    "location": "school",
    "person": "teacher",
    "difficulty": 2
    },
    {"title": "Prank 10",
    "rules": "set of rules",
    "location": "public",
    "person": "cop",
    "difficulty": 5
    },
    {"title": "Prank eleven",
    "rules": "set of rules",
    "location": "grocery store",
    "person": "worker",
    "difficulty": 1
    }

    ]
</script>
</html>